
@{
    ViewBag.Title = "EditorNote";
}

<img src="~/Content/Images/01_editor_note_rev03.png" />

<canvas style="margin-left:-198px"></canvas>

<a style="float:right" href='@Url.Action("Spotlight", "Home")'>

    <img class="imageHomes" style=" z-index: 3; width: 60px; margin-left: 270px;" src="~/Content/next_button.png" />

</a>
<a style="float:left;" href='@Url.Action("Index", "Home")'>

    <img class="imageHomes" style=" z-index: 3; width: 60px; transform: rotate(177deg); margin-left: 25px; " src="~/Content/next_button.png" />

</a>
<style>
    body, html {
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    h1 {
        font-size: 4em;
        color: white;
        font-family: 'Merriweather', serif;
        letter-spacing: 2px;
        pointer-events: none;
        font-weight: 700;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        text-align: center;
    }

    img {
        /*position: absolute;
        top: 10%;
        left: 9%;
        right: 0;
        bottom: 0;
        width: 120%;
        
       
        right: 0px;
        top: -30px;
        z-index: 1;*/
        position: absolute;
        width: 130%;
      
        top: -95px;
        LEFT: -178px;
        z-index: 1;
    }
    .imageHomes{
        margin-top:0px;
    }
    .imageHome {
        display: none;
    }
</style>
<script src="~/Scripts/3dAinmation.js"></script>
@*<script>
    $(document).ready(function () {
        $("#cn-button").trigger("click");

        //$("#cn-button").on("click", function () {
        //    alert("hello");
        //});
        //$("#cn-button").trigger("click");

    });
</script>*@

