USE [master]
GO
/****** Object:  Database [SqlLiteUser]    Script Date: 27-03-2018 12:33:45 ******/
CREATE DATABASE [SqlLiteUser]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SqlLiteUser', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SqlLiteUser.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SqlLiteUser_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SqlLiteUser_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SqlLiteUser].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SqlLiteUser]
GO
/****** Object:  Table [dbo].[UserTables]    Script Date: 27-03-2018 12:33:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserTables](
	[Userid] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](150) NULL,
	[Title] [varchar](150) NULL,
	[Location] [varchar](150) NULL,
 CONSTRAINT [PK_UserTables] PRIMARY KEY CLUSTERED 
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
